.container{
    display:grid;
    grid-template-columns:3fr 1fr;
    gap:3px;
    padding:5px;
    /*
    background:yellow;
    */
}

.content{
  /*
  background:blue;
  */
}
.side{
  /*
  background:red;
  */
  display:flex;
  flex-direction:column;
  height:100vh;
  padding:15px;
  min-height:0;
}

video{
  width:100%;
  height:70%;
  background:#000;
  border-radius:8px;
}

.sidebar-list{
  flex:1;
  overflow-y:auto;
  margin-top:10px;
  padding-right:5px;
}

.sidebar-list::-webkit-scrollbar{width:6px;}
.sidebar-list::-webkit-scrollbar-thumb{
  background:#444;
  border-radius:3px;
}

.filter{
  display:flex;
  flex-direction:column;
  gap:10px;
  width:100%;
}

.filter select,
.filter input{
  width:100%;
  padding:8px 10px;
  border-radius:6px;
  border:1px solid #444;
  background:#111;
  color:#fff;
  box-sizing:border-box;
}

#toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%) translateY(20px);
  background: #000;
  color: #fff;
  border: 2px solid #fff;
  padding: 12px 20px;
  font-size: 14px;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 9999;
  pointer-events: none;
}

#toast.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}



@media (max-width:768px){
    .container{grid-template-columns:1fr;}
}

/* CHANNEL GRID */
.tvlist{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(70px,1fr));
  gap:5px;
  padding:5px;
}

/* CHANNEL CARD */
.channel-card{
  aspect-ratio:1/1;
  background:#000;
  border:1px solid #fff;
  border-radius:8px;
  padding:8px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  cursor:pointer;
  transition:.2s;
}

.channel-card:hover{
  border-color:#2196f3;
  background:#111;
  transform:translateY(-2px);
}

.channel-card.active{
  border-color:#2196f3;
}

/* LOGO + TEKS */
.logo,.no-logo{
  width:70%;
  height:60%;
  object-fit:contain;
  margin-bottom:6px;
  pointer-events:none;
}

.no-logo{
  display:flex;
  justify-content:center;
  align-items:center;
  border:1px dashed #666;
  font-size:11px;
  color:#aaa;
}

.channel-name{
  font-size:11px;
  text-align:center;
  color:#ccc;
  pointer-events:none;
}
