body{
  background:#000;
  color:#fff;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
  "navbar" 
  "main"
  "footer";
}

/* NAVBAR */
.navbar{
  grid-area: navbar;
  display:flex;
  align-items:center;
  justify-content:center;
  border-bottom:1px solid #333;
}

.back-btn {
  position: absolute;
  left: 15px;
  background: black;
  color: white;
  border: 2px solid white;   /* pinggiran putih */
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.25s ease;
}

.back-btn a {
  color: inherit;
  text-decoration: none;
}

/* Hover effect */
.back-btn:hover {
  background: #007bff; /* biru */
  border-color: #007bff;
  color: white;
}


/* GRID CONTAINER */
.main{
  grid-area: main;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:20px;
  padding:10px;
  
}

footer{
    grid-area: footer;
    background-color: white;
}

/* CARD */
.card{
  background:#111;
  border:2px solid hsl(0, 0%, 20%);
  padding:20px;
  border-radius:12px;
  text-align:center;
  cursor:pointer;
  transition:.3s;
}
.card:hover{
  border-color:#007bff;
  transform:scale(1.02);
}

/* PREVIEW GRID */
.grid-preview{
  display:grid;
  gap:8px;
  height:120px;
  margin-top:15px;
}
.box{background:#444;border-radius:4px;}
.single{grid-template-columns:1fr;}
.double{grid-template-columns:1fr 1fr;}
.quad{
  grid-template-columns:1fr 1fr;
  grid-template-rows:1fr 1fr;
}
